{% extends 'intro_base.html' %}
{% load staticfiles %}
	{% block intro_css %}
	<link href="{% static 'styles.css' %}" type="text/css" rel="stylesheet" />
	{% endblock intro_css %}
	
	{% block intro_content %}
	<h2>Hello and Welcome </h3>
	 <h3>Behold my website. I began it because I was asked to learn Django by some folks in Olli's Sage program at the University of Texas. They were responsible for the Olli website and were asking for volunteers to help maintain, modify, improve, and repair it. Never having heard of Django, but being a former programmer in Python (Django is a framework written in Python), I raised my hand.</h3>
	 <h3>I really like learning new programming languages. For me, the best way to approach the task is to try to write something to fulfill some genuine need, not just to run through a tutorial and peruse the examples. Over the years, while tackling other languages, I've written a classroom management system in Actionscript; a secondary structure predictor for proteins in C++; an educational game in SuperCard; and a few other small projects. I've even sold a few programs! To learn Django, I followed that strategy  and created this site. </h3>
	 <h3>As you can gather from the navigation bar at the top, the site has four parts. There's a brief page with a list of books that I've written (not yet implemented); a more extensive series of pages with some of the photographs that I've taken and doctored; a site for the storage of my teaching materials for OLLI and the Lifelong Learning Institute; and a biographical blog. The last, as the name implies, is about me, written for my grandkids.</h3>
	 
	 <h3>Have fun!</h3>
	{% endblock intro_content %}

