*.pyc
*~
__pycache__
myvenv
db.sqlite3
/static
.DS_Store
bin/
lib/
bin/activate

bin/activate_this.py

bin/activate.csh

bin/activate.fish

bin/easy_install

lib/python3.5/site-packages/pip/_vendor/html5lib/treebuilders/__init__.py

lib/python3.5/site-packages/pip/_vendor/html5lib/treebuilders/etree_lxml.py

*.jpg

*.jpg

*.mo

*.po

bin/createfontdatachunk.py

bin/django-admin.py

*.jpg

*.jpg

include/python3.5m

Whoopers.jpg

Blue_House_and_Banos.jpg
