		{% extends 'blog/base_blog.html' %}
		{% load staticfiles %}
		{% block css %}
		<link href="{% static 'styles.css' %}" type="text/css" rel="stylesheet" />
		{% endblock css %}
		{% block content %}
		<div class='container'>
		<!--
			<a href="{% url 'post_new' %}" class="top-menu">
			<h4><span class="glyphicon glyphicon-plus"></span>
			 Click here to enter a new post </h4></a> -->
		</div>	
			{% for post in posts %}
			<div class="post">
				<h2><a href="{% url 'detail' pk=post.pk %}">{{ post.title }}</a></h2>
				<div class="date">
					<h4>{{ post.published_date }}</h4><br />
				</div>
				<p>{{ post.text|linebreaksbr }}</p>
				<hr>
			</div>
			{% endfor %}
		{% endblock content %}
